#root {
    height: 100%;
    background-image: url("../../assets/images/body_bg.png");

    .bg-custom {
        background-color: rgb(255, 255, 255);
        background-image: url("../../assets/images/container_bg.png");
    }
}