* {
    font-family: 'Tektur', sans-serif;
}

.f-st-color {
    color: rgb(255, 255, 255);
}

.f-nd-color {
    color: rgb(145, 145, 145);
}

.f-rd-color {
    color: rgb(49, 49, 49);
}

.bg-st-color {
    background: rgb(255, 255, 255);
}

.bg-nd-color {
    background: rgb(242, 242, 242);
}

.bg-rd-color {
    background: rgb(97, 97, 97);
}

.bg-th-color {
    background: rgb(66, 66, 66);
}

.f-st-size {
    font-size: 16px;
}

.f-nd-size {
    font-size: 18px;
}

.f-rd-size {
    font-size: 25px;
}

.bg-grass {
    background: rgb(140, 219, 22);
}

.bg-fire {
    background: rgb(255, 116, 2);
}

.bg-water {
    background: rgb(68, 152, 209);
}

.bg-rock {
    background: rgb(139, 120, 36);
}

.bg-poison {
    background: rgb(163, 61, 162);
}

.bg-bug {
    background: rgb(94, 129, 40);
}

.bg-flying {
    background: rgb(132, 228, 255);
}

.bg-normal {
    background: rgb(145, 151, 153);
}

.bg-electric {
    background: rgb(221, 200, 10);
}

.bg-ground {
    background: rgb(171, 152, 66);
}

.bg-fairy {
    background: rgb(253, 185, 233);
}

.bg-fighting {
    background: rgb(161, 53, 47);
}

.bg-steel {
    background: rgb(145, 151, 153);
}

.bg-ice {
    background: rgb(108, 210, 241);
}

.bg-ghost {
    background: rgb(123, 98, 163);
}

.bg-dark {
    background: rgb(112, 112, 112);
}

.bg-psychic {
    background: rgb(241, 134, 197);
}

.bg-dragon {
    background-image: linear-gradient(rgb(82, 163, 206), rgb(241, 110, 87));
}